@{
    ViewBag.Title = "About";
    Layout="~/Views/Shared/_layout1.cshtml";

}

<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">About Our Website</h3>
        <p class="sample-text">
            You can use this website to <b>search</b> , <b>apply</b> and<b> posted</b> jobs.<br />
            <b>First</b> &nbsp;
            you shoud login <br />
            If you dont have any account you can <b> register </b><br />
            If you want to search a job you must be <b>Job Seeker </b><br />
            If you want to posed a job you must be <b>Company </b>
            <h3 class="text-heading">About Our Contact</h3>
        <p class="sample-text">                   
             If you have any problem<br />
               
                If you have any suggestion<br />
               
                if you didn't find your desired job<br />
            Feel free to <b>Contact</b> us<br />
               
          

        

        </p>
    </div>
</section>